{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About BakArt Hotel</title>
         <link rel="stylesheet" type="text/css" href="{% static 'styles_for_about.css' %}">

    </head>
    <body>
    <header>
        <div class="home-button">
            <a href="{% url 'homepage' %}">Home</a>
        </div>
        <h1>About BakArt Hotel</h1>
    </header>
    <div class="about-us">
        <h2>Our Story</h2>
        <p>Established with a passion for hospitality, BakArt Hotel opened its doors with a vision to redefine luxury.
            Our
            journey began in 2014, and since then, we have consistently provided an unparalleled blend of opulence and
            personalized care to our esteemed guests. Our dedicated team is committed to ensuring your every need is met
            with a smile. Whether it's arranging special requests, recommending local attractions, or catering to your
            dining preferences, our staff is here to make your experience seamless and memorable. Your journey with us
            begins from the moment you step through our doors. Come and experience the magic of our hotel where each day
            is
            an opportunity to create stories that last a lifetime.</p>
        <h2>Our Commitment</h2>
        <p>At BakArt Hotel, we are committed to creating a warm and welcoming environment for our guests. Our passion
            for
            hospitality drives us to exceed your expectations in every way. From the moment you arrive, you'll
            experience
            the perfect blend of luxury, comfort, and personalized service. We believe that every stay with us should be
            an
            unforgettable experience, and we are dedicated to making your visit truly special.</p>
        <h2>Experience Luxury</h2>
        <p>Our hotel is designed to provide you with the ultimate in comfort and relaxation. Our luxurious rooms and
            suites
            are equipped with top-notch amenities, and our dining options offer a taste of culinary excellence. Whether
            you're here for business or leisure, BakArt Hotel is the perfect choice for those seeking a refined and
            memorable stay.</p>
    </div>
    </body>
    </html>
{% endblock %}
