{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BakArt Hotel</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles_for_index.css' %}">
    </head>
    <body>
    <header>
        <h1>Welcome to BakArt Restaurant And Hotel Complex</h1>
        <p>Discover a World of Luxury and Comfort</p>
    </header>

    <nav>
        <a href="{% url 'reservation_room' %}" class="nav-bar-buttons non-hover">Make a Reservation</a>
        <a href="{% url 'dining' %}" class="nav-bar-buttons non-hover">Dining</a>
        <a href="{% url 'about' %}" class="nav-bar-buttons non-hover">About Us</a>
        <a href="{% url 'contact' %}" class="nav-bar-buttons non-hover">Contact Us</a>


        <span class="sign-in-button">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <label class="modal-label" for="modal-checkbox">Sign in or Join</label>
        {% endif %}
    </span>


        <input type="checkbox" id="modal-checkbox" class="modal-checkbox">


        <div class="modal-content">

            <label class="modal-close" for="modal-checkbox">&times;</label>
            <div class="modal-options">
                {% if user.is_authenticated %}

                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'registration' %}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="room-container">
        {% for room in rooms %}
            <div class="room">
                <h2>{{ room.title }}</h2>
                <img src="{{ room.image.url }}" alt="{{ room.name }} Image">
                <p>{{ room.description }}</p>
                <p class="price">Price Range: {{ room.price_optional }}</p>
            </div>
        {% endfor %}
    </div>

    </body>
    </html>
{% endblock %}