{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BakArt Hotel</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles_for_index.css' %}">
    </head>
    <body>
    <header>
        <h1>Welcome to BakArt Restaurant And Hotel Complex</h1>
        <p>Discover a World of Luxury and Comfort</p>
    </header>

    <nav>
        <!-- Use a specific class for the first three buttons -->
        <a href="{% url 'reservation_room' %}" class="nav-bar-buttons non-hover">Make a Reservation</a>
        <a href="{% url 'dining' %}" class="nav-bar-buttons non-hover">Dining</a>
        <a href="{% url 'about' %}" class="nav-bar-buttons non-hover">About Us</a>
        <!-- Wrap the "Sign in or Join" label in a span with a specific class -->
        <span class="sign-in-button">
            <label class="modal-label" for="modal-checkbox">Sign in or Join</label>
        </span>
        <!-- Hidden checkbox to control the modal display -->
        <input type="checkbox" id="modal-checkbox" class="modal-checkbox">
        <!-- The modal options -->
        <div class="modal-content">
            <!-- Close button inside the modal -->
            <label class="modal-close" for="modal-checkbox">&times;</label>
            <div class="modal-options">
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'registration' %}">Register</a>
            </div>
        </div>
    </nav>

    <div class="room-container">
        {% for room in rooms %}
            <div class="room">
                <h2>{{ room.title }}</h2>
                <img src="{{ room.image.url }}" alt="{{ room.name }} Image">
                <p>{{ room.description }}</p>
                <p class="price">Price Range: {{ room.price_optional }}</p>
            </div>
        {% endfor %}
    </div>

    </body>
    </html>
{% endblock %}
