{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>No Free Rooms</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles_for_no_free_rooms.css' %}">

    </head>
    <body>
    <div class="notification">
        <h2>Sorry, No Free Rooms</h2>
        <p>Apologies, there are no free rooms in the type you want. You can reserve another type of room.</p>
    </div>

    <div class="home-button">
        <a href="{% url 'homepage' %}" class="home-button">Back to Home</a>
    </div>
    </body>
{% endblock %}
