{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Reservation Confirmation</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles_for_send_conf_email.css' %}">

</head>
<body>
<div class="container">
    <h1>Hotel Reservation Confirmation</h1>

    <p>Hello dear {{ user_name }},</p>
    <p>Your hotel room reservation has been successfully confirmed. Here are the details:</p>

    <div class="reservation-details">
        <p><strong>Check-in Date:</strong> {{ check_in_date }} at 13:00 o'clock </p>
        <p><strong>Check-out Date:</strong> {{ check_out_date }} at 11:00 o'clock </p>
        <p><strong>Room Type:</strong> {{ room_type }}</p>
        <p><strong>Options for Room:</strong> {{ options_for_room }}</p>
        <p><strong>Price:</strong> ${{ price }}</p>
    </div>

    <p>Thank you for choosing our hotel. We look forward to welcoming you!</p>
    <p>Best regards,<br>Your BakArt Hotel Team</p>
</div>
</body>
</html>


