{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration Success</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles_for_success_room_reservation.css' %}">

    </head>
    <body>
    <header>
        <a href="{% url 'homepage' %}" class="home-button">Home</a>
        <div class="header-title">
            <h1>Room Reservation</h1>
        </div>
    </header>

    <div class="success-container">
        <h2>Reservation Successful</h2>
        <p class="success-message">Thank you for making a hotel room reservation. Your reservation has been successfully
            processed. We have sent you a confirmation email.</p>
    </div>

    </body>
{% endblock %}
