{% extends 'base.html' %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Table Reservation Success</title>
        <link rel="stylesheet" type="text/css" href="../../static/styles_for_table_registration_success_page.css">

    </head>
    <body>
    <header>
        <a href="{% url 'homepage' %}" class="home-button">Home</a>
        <div class="header-title">
            <h1>Table Reservation</h1>
        </div>
    </header>

    <div class="success-container">
        <h2>Reservation Successful</h2>
        <p class="success-message">Thank you for reserving a restaurant table. Your reservation has been successfully
            processed. We have sent you a confirmation email.</p>
    </div>

    </body>
{% endblock %}
