/* success.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #967859; /* Match the background color of the registration page */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #967859; /* Match the title color of the registration page */
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #B9AFA1; /* Match the text color of the registration page */
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #756A5E; /* Match the button background color of the registration page */
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #B9AFA1; /* Change the button color on hover */
}
