* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set background color to match the homepage */
body {
    background-color: #967859;
    color: #B9AFA1;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    text-align: center;
    padding: 20px;
    background-color: #756A5E;
    color: #fff;
    position: relative;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Home button styles */
.home-button {
    text-align: left;
    margin: 10px 20px;
}

.home-button a {
    text-decoration: none;
    background-color: #756A5E;
    color: #fff;
    border: 2px solid #756A5E;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.home-button a:hover {
    background-color: #B9AFA1;
}

/* About Us section styles */
.about-us {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.about-us h2 {
    font-size: 24px;
    color: #967859; /* HEX #967859 */
    margin-bottom: 10px;
}

.about-us p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
