
body {
    font-family: Arial, sans-serif;
    background-color: #967859;
    text-align: center;
}

.error-container {
    background-color: #B9AFA1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 100px auto;
    max-width: 400px;
}

h1 {
    color: #ff0000;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #967859;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease; /
}

.home-button:hover {
    background-color: #756A5E;
}


