<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/styles_for_base.css">

</head>
<body>
{% block content %}{% endblock %}
<main class="container">
    <div class="contact-info" style="background-color: #966D4A;">
        <h3>Contact Information</h3>
        <p>Hotel Address: 001 Abovyan Street, Yerevan, BL 00001</p>
        <p>Phone: +374(55) 20-20-11</p>
        <p>Email: bakuntsartur93@gmail.com</p>
    </div>
</main>
<footer>
    <h3>Thank You for Choosing BakArt Restaurant And Hotel Complex</h3>
    <p>Your Luxury Getaway Destination</p>
</footer>
</body>
</html>
